<app-header titulo="alert"></app-header>

<ion-content class="ion-padding">

<ion-button (click)="presentAlert()" expand="block">
  Mostrar Alerta
</ion-button>

<ion-button (click)="presentAlertMultipleButtons()" expand="block" color="secondary">
 Multiples Botones
</ion-button>

<ion-button (click)="presentAlertConfirm()" expand="block">
 Alerta de Confirmación
</ion-button>

<ion-button (click)="presentAlertPrompt()" expand="block" color="secondary">
 Alerta con inputs
</ion-button>

<ion-button (click)="presentAlertRadio()" expand="block" >
 Alerta con inputs radio
</ion-button>

<ion-button (click)="presentAlertCheckbox()" expand="block" color="secondary">
  Alerta con check box
 </ion-button>

</ion-content>
