<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"  color="primary"></ion-back-button>
    </ion-buttons>

    <ion-title color="primary">Avatar</ion-title>

    <ion-buttons slot="end">
      <ion-avatar>
      <!--<img src="/assets/stan-lee-headshot-high-res.jpg">--> 
      <ion-img src="/assets/stan-lee-headshot-high-res.jpg"></ion-img> <!--LazyLoad-->
    </ion-avatar>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-chip color="primary" mode="ios" outline="true" *ngFor="let item of [1,1,1,1,1]">
    <ion-avatar>
      <ion-img src="/assets/stan-lee-headshot-high-res.jpg"></ion-img>
    </ion-avatar>
    <ion-label>Default</ion-label>
  </ion-chip>

  <ion-list>
    <ion-item *ngFor="let item of [1,1,1,1,1,1]">
      <ion-avatar slot="start" >
        <ion-img src="/assets/stan-lee-headshot-high-res.jpg" ></ion-img>
      </ion-avatar>
      <ion-label>Stan Lee</ion-label>
    </ion-item>
  </ion-list>

</ion-content>
